[
  {
    title: "cranium"
    group: "Loud Bit"
    paths: [
      "/Users/mrdarcymurphy/src/cranium"
      "/Users/mrdarcymurphy/Library/Application Support/cranium"
    ]
  }
  {
    title: "Dotfiles"
    paths: [
      "/Users/mrdarcymurphy/.dotfiles"
    ]
    icon: "icon-circuit-board"
  }
  {
    title: "cranium"
    group: "cranium"
    paths: [
      "/Users/mrdarcymurphy/src/dat-cranium"
    ]
  }
  {
    title: "clutch"
    group: "Loud Bit"
    paths: [
      "/Users/mrdarcymurphy/src/clutch"
    ]
  }
]
