[credential]
  helper = osxkeychain
[user]
  name = Darcy Murphy
  email = darcy.murphy@merrillcorp.com
[github]
  user = mrDarcyMurphy
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  last = log -n1 -p
  history = log --graph --pretty=format:'%Cred%h%Creset %aN -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  latest = for-each-ref --count=12 --sort=-committerdate refs/heads/ --format='%(authordate:format:%c) %(color:blue)%(refname:short)%(color:reset)'
  dm = !git diff | subl
  a = add -A
  d = diff
  dc = diff --cached
  ds = diff | subl
  lg = log --graph --abbrev-commit --date=relative
  p = push
  pf = push --force-with-lease
  s = status -s
  u = pull --rebase
  cnf = !git ls-files -u | cut -f 2 | sort -u
  dso = "!f() { git checkout -b DSO-$1; }; f"
[core]
  editor = subl -w
  excludesfile = /Users/dmurphya/.gitignore
[push]
  default = tracking
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = ksdiff
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool]
  prompt = false
[merge]
  tool = Kaleidoscope
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
